/*Renk Kodları
Sarı #FDC913, Açık Gri: #5F5F5F, Koyu Gri #292929, Kırmızı #CE2829, Bej: #FAF7F2 */


.home-body{
  margin:0;
  padding:0;
  display: flex;background-image: url("../../Assets/mvp-banner.png");
  flex-wrap:wrap;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  background-color: #CE2829;
  background-position:center ;
  background-size: cover;
  min-height: 100vh;
  width:100%;
  height:100%;

align-content:center;


}
h2 {
color:white;
}

#order-pizza{

}

.home-body button {
  background-color: #FDC913;
  border: none;


}