@import url("https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300;400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200&display=swap");

.success{
  background-color: #CE2829;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  color: white;
  gap: 8rem;
  font-family: "Barlow Condensed",sans-serif;
  color: white;
  font-weight: 100;
}


.header h3{
  font-family: "Londrina Solid",sans-serif;
  color:white;
  font-weight: normal;
  margin-top:50px;
  font-size: 4vh;
}
.success-msg{
  color: white;
  font-family: "Barlow Condensed",sans-serif;
  color: white;
  font-weight: 100;
  font-size: 5vh;
  margin-bottom: 1rem;
  margin-top: 2rem;
}



